.stockimg {
    margin-top: 2rem;
    margin-left: 2rem;
    display: block;
    width: 600px;
    border-radius: 16px;
}

#newsfeed {
    margin-top: 1rem;
}

#searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#reddit {
    margin-bottom: 1rem;
    background-color: rgb(142, 191, 255);
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#listTitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    text-decoration: underline;
}

.removeButton {
    display: flex;
    text-align: center;
    margin-left: 3rem;
}
.removeButton button {
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    background-color: #f34f4f; 
    border: 1px solid red;
    color: white; 
    padding: 10px 20px; 
    cursor: pointer; 
    float: left;
  }
  
.removeButton button:not(:last-child) {
    border-right: none; 
  }

  .removeButton:after {
    content: "";
    clear: both;
    display: table;
  }
  
.removeButton button:hover {
    background-color: #ee6d6d;
  }

  #stockTicker {
    font-size: 30px;
    font-weight: 600;
  }